.background-image-home {
  ._background {
    position: absolute;
    top: 10vh;
    max-width: 80vw;
  }

  ._background2 {
    position: absolute;
    background-position: center;
    top: 120vh;
    width: 100vw;
  }
}
